@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  * {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 8px;
  }
}

@media (max-width: 240px) {
  * {
    font-size: 6px;
  }
}
